$primary-color: #00b3c5;
$light-text-color:#BEFBFF;
$dark-primary-color: #003445;
$dark-secondary-color: #324B4F;
$main-background-color: #001c25;

@keyframes sliding {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(-1391px, 0px, 0px);
    }
}

@keyframes sliding2 {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(-1391px, 0px, 0px);
    }
}



.projects-section {
    box-sizing: content-box;
    height: auto;
    width: 1200px;
    display: flex;
    padding: 50px 40px 60px 40px;
    flex-direction: column;
    background-color: transparent;
    border-radius: 16px;
    border: 1px solid rgba(0, 179, 197, 0.5);
    margin: 80px auto 0 auto;
    align-items: center;
    justify-content: flex-start;

    .title {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    h1.projects-section-title {
        margin-bottom: 10px;
        text-align: left;
        font-weight: 600;
        font-size: 3.5rem;
        color: $light-text-color;
    }

    .projects-container {
        position: relative;
        overflow: hidden;

        .projects-container-line {
            display: flex;
            flex-wrap: nowrap;
            width: 1200px;
            overflow: hidden;
            margin-top: 20px;

            .slide-01 {
                display: flex;
                justify-content: flex-start;
                flex-wrap: nowrap;
                animation: sliding 18s linear infinite;
            }
            
            .slide-02 {
                display: flex;
                justify-content: flex-start;
                flex-wrap: nowrap;
                animation: sliding2 18s linear infinite;
            }

            
            .slide-03 {
                display: flex;
                justify-content: flex-start;
                flex-wrap: nowrap;
                animation: sliding 20s linear infinite;
            }

            .slide-04 {
                display: flex;
                justify-content: flex-start;
                flex-wrap: nowrap;
                animation: sliding 20s linear infinite;
            }

            .slide-05 {
                display: flex;
                justify-content: flex-start;
                flex-wrap: nowrap;
                animation: sliding 16s linear infinite;
            }

            .slide-06 {
                display: flex;
                justify-content: flex-start;
                flex-wrap: nowrap;
                animation: sliding 16s linear infinite;
            }


            .project-item {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 0 8px;
                background-color: $dark-secondary-color;
                padding: 12px 18px;
                border-radius: 12px;

                img {

                    width: 32px;
                    height: 32px;
                    background-color: white;
                    border-radius: 50%;
                    background-size:contain;
                    border: 4px solid white;
                }
                
                p {
                    margin-left: 8px;
                    font-size: 1.125rem;
                    font-weight: 500;
                }

            }

            .project-item:hover {
                cursor: pointer;
                background-color: $primary-color;
            }
        }
    }

    .projects-container::before {
        background: linear-gradient(-90deg,rgba(0,28,37,0), $main-background-color);
        content: "";
        top: 0;
        position: absolute;
        width: 80px;
        height: 100%;
        z-index: 1;
    }

    .projects-container::after {
        background: linear-gradient(90deg,rgba(0,28,37,0), $main-background-color);
        content: "";
        top: 0;
        right: 0;
        position: absolute;
        width: 80px;
        height: 100%;
        z-index: 1;
    }

}

@media screen and (max-width: 960px) {
    
    .projects-section  {
        box-sizing: border-box;
        border: 1px solid rgba(0, 179, 197, 0.2);
        margin: 80px auto 0 auto;
        width: 90vw;
        margin: 80px auto 100px auto;
    
        h1.projects-section-title {
            width: 100%;
            text-align: center;
            font-size: 2.75rem;
        }
    
        .projects-container {
    
            .projects-container-line {
                width: 100vw;
            }
        }
    
    }
    
}