$primary-color: #00b3c5;
$light-text-color:#BEFBFF;
$dark-primary-color: #003445;
$dark-secondary-color: #324B4F;
$main-background-color: #001c25;

.service-section {  
    box-sizing: border-box;
    height: 720px;
    width: 1200px;
    display: flex;
    padding: 30px 60px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: $dark-primary-color;
    border-radius: 16px;
    margin: 0 auto;

    h1.section-title {
        margin-bottom: 20px;
        text-align: left;
        font-weight: 600;
        font-size: 3.5rem;
        color: $light-text-color;
    }

    .service-card-container {
        display: grid;
        width: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        grid-template: 250px 250px / 520px 520px;
        gap: 30px;
        grid-template-areas:
                        "market business"
                        "market community" ;

        .service-card {
            padding: 0 30px;
            background-color: $dark-secondary-color;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            padding: 30px 40px;

            h2 {
                font-size: 1.75rem;
            }
        }

        .market-sector {
            grid-area: market;
            position: relative;


            .background-layer {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background: url("/image/service/Asset 1.png");
                background-size: auto;
                background-position: auto;
            }
        }

        .business-sector {
            grid-area: business;
            
        }
        
        .community-sector {
            grid-area: community;
        }
    }

    
}