$primary-color: #00b3c5;
$light-text-color:#BEFBFF;
$dark-primary-color: #003445;
$dark-secondary-color: #324B4F;
$main-background-color: #001c25;

.service-section {  
    height: 600px;
    width: 1200px;
    display: flex;
    padding: 30px 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $dark-primary-color;
    border-radius: 16px;
    margin: 40px auto 0 auto;

    h1.section-title {
        margin-bottom: 10px;
        text-align: left;
        font-weight: 600;
        font-size: 3.5rem;
        color: $light-text-color;
        margin-top: 50px;
    }

    .service-card-container {
        display: grid;
        width: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        grid-template: 500px / 400px 400px 400px;

        .service-card {
            padding: 0 30px;
        }
    }

    
}