$primary-color: #00b3c5;
$light-text-color:#BEFBFF;
$dark-text-color: #1f2123;
$button-semi-dark-color: #474d57;
$button-dark-color: #1e1f20;
$button-light-color: #00b3c5;
$main-background-color: #000e1d;

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(150px);
    } 

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appearleft {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    } 

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes glow {
    from {
        filter: drop-shadow(0px 0px 0px rgba(0, 255, 213, 0.3));
        transform: scale(0.99) translateY(25px);
    }
    to {
        filter: drop-shadow(0px 0px 8px rgba(0, 255, 213, 0.85));
        transform: scale(1) translateY(-5px);;
    }
  }

.hero-section {
    width: calc(100vw - 5vh);
    height: calc(100vh - 2.5vh);
    min-height: 700px;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000e1d;
    border-radius: 16px;
    margin: 2.5vh 2.5vh 0 2.5vh;
    overflow: hidden;
    border-radius: 32px 32px 0 0;
    padding: 30px 60px 50px 60px;

    .hero-section-container {
        width: 1400px;
        max-width: calc(100vw - 5vh);
        max-width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        transform: scale(1);

        .hero-section-layer {
            width: 40%;
            animation: appear 1.25s ease;

            img {
                width: 100%;
                animation: glow 3s ease-in-out infinite alternate;
            }
        }

        .hero-section-content > * {
            margin: 25px 0
        }

        .hero-section-content {
            width: 50%;
            animation: appearleft 1.25s ease;
            color: #fff;
    
    
            h1 {
                font-family: 'Nunito Sans', sans-serif;
                line-height: 1.2;
    
                .branding-name {
                    font-size: 6.5rem;
                    color: #ffffff;
                    font-family: 'Chakra Petch', sans-serif;
                    font-weight: 600;
                }
    
                .short-des {
                    line-height: 1.2;
                    font-weight: 200;
                    color: #BEFBFF;
                    font-size: 2.375rem;
                }
            }
    
            p {
                font-weight: 300;
                font-size: 1.25rem;
            }
    
            .hero-button {
    
                .btn-01 {
                    font-family: 'Chakra Petch', sans-serif;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: 500; 
                    color: #fff;
                    background: #474d57;
                    border: none;
                    padding: 16px 24px;
                    border-radius: 12px;
                    text-align: center;
                    margin-right: 12px;
                    border: 2px solid #474d57;
                }
    
                .btn-01:hover {
                    background-color: #FABC3C;
                    border: 2px solid #FABC3C;
                    color: $dark-text-color;
                }
    
                .btn-02 {
                    font-family: 'Chakra Petch', sans-serif;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: 500;
                    color:  #fff;
                    background: transparent;
                    border: 2px solid #474d57;
                    padding: 16px 24px;
                    border-radius: 12px;
                    text-align: center;
                }
    
                .btn-02:hover {
                    border: 2px solid #FABC3C;
                    color: #FABC3C;
                }
            }
        }
    }
}

@media screen and (max-width: 1536px) {
    .hero-section {
        height: auto;
        min-height: 750px;

        .hero-section-container {
            align-items: flex-end;
            transform: scale(0.9);
        }
    }   
}


@media screen and (max-width: 1200px) {
    .hero-section {

        .hero-section-container { 

            .hero-section-content > * {
                margin: 15px 0
            }

            .hero-section-content {
                h1 {
        
                    .branding-name {
                        font-size: 5.5rem;
                        color: #ffffff;
                        font-family: 'Chakra Petch', sans-serif;
                        font-weight: 600;
                    }
        
                    .short-des {
                        line-height: 1.2;
                        font-weight: 200;
                        color: #BEFBFF;
                        font-size: 2.25rem;
                    }
                }
            }


        }
    }   
}

@media screen and (max-width: 960px) {
    
    .hero-section {
        width: 100vw;
        height: 100%;
        min-height: 900px;
        margin: 0;
        border-radius: 0;
        padding: 15px 15px 30px 15px;

        .hero-section-container {
            width: 100%;
            height: 100%;
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: center;

            .hero-section-layer {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    width: 80%;
                    max-width: 500px;
                    margin: 0 auto;
                }
            }
    
            .hero-section-content > * {
                margin: 20px 0
            }
    
            .hero-section-content {
                margin-top: 40px;
                width: 90%;

                h1 {
                    font-family: 'Nunito Sans', sans-serif;
                    line-height: 1.2;
        
                    .branding-name {
                        font-size: 4rem;
                        color: #ffffff;
                        font-family: 'Chakra Petch', sans-serif;
                        font-weight: 600;
                    }
        
                    .short-des {
                        line-height: 1.2;
                        font-weight: 200;
                        color: #BEFBFF;
                        font-size: 1.75rem;
                    }
                }
        
                p {
                    font-weight: 300;
                    font-size: 1rem;
                }

            }
        }
        
    }




}