$primary-color: #00b3c5;
$light-text-color:#BEFBFF;
$dark-primary-color: #003445;
$dark-secondary-color: #324B4F;
$main-background-color: #001c25;

.customer-section {  
    height: auto;
    width: 1400px;
    display: flex;
    padding: 30px 60px 60px 60px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /*background-color: $dark-primary-color;*/
    border-radius: 16px;
    margin: 80px auto 0 auto;

    h1.section-title {
        margin-bottom: 0px;
        text-align: left;
        font-weight: 700;
        font-size: 3.5rem;
        color: $light-text-color;
        font-family: 'Raleway', sans-serif;
    }

    .customer-container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(8, 130px);
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
    }

}


@media screen and (max-width: 960px) {
    
    .customer-section {  
        height: auto;
        width: 90vw;
        padding: 30px 20px 60px 20px;
        margin: 0 auto;

        h1.section-title {
            text-align: center;
            font-size: 2.5rem;
        }
    
        .customer-container {
            grid-template-columns: repeat(2, 35vw);
            gap: 30px;

            img {
                width: 35vw;
            }
        }
    }
    
    }