$primary-color: #00b3c5;
$light-text-color:#BEFBFF;
$dark-text-color: #1f2123;
$button-semi-dark-color: #474d57;
$button-dark-color: #001934;
$button-dark-color-hover: #00244b;
$button-light-color: #00b3c5;
$main-background-color: #000e1d;

$font-stack-section-title: 'Chakra Petch', sans-serif;

$dark-secondary-color: #324B4F;
$dark-primary-color: #003445;

.resource-contact-section-container {
    width: calc(100vw - 10px);
    background-color: $main-background-color;
    border-radius: 96px 96px 0 0;
}

.resource-contact-section {
    height: auto;
    width: 1400px;
    max-width: calc(100vw - 10px);
    padding: 100px 50px;
    display: flex;
    border-radius: 16px;
    margin: 0 auto;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $main-background-color;

    .contact-container, .resource-container {
        margin: 30px;
        width: 45%;
        min-height: 850px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 40px;
        border-radius: 32px;
        background-color: transparent;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.75);
    
        h1 {
            font-family: $font-stack-section-title;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: 20px;
            text-align: center;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
        }
    }

}

@media screen and (max-width: 960px) {
    .resource-contact-section {
        box-sizing: border-box;
        height: auto;
        width: 90vw;
        display: flex;
        padding: 20px 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $dark-primary-color;
        border-radius: 16px;
        margin: 100px auto 0 auto;;

        .contact-container, .resource-container {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 25px;
            border-radius: 32px;
            margin: 20px auto;
            background-color: #324B4F;

            h1 {
                font-size: 2rem;
            }
    
            p {
                font-size: 16px;
            }
    
        }

    }
}