$primary-color: #00b3c5;
$light-text-color:#BEFBFF;
$dark-text-color: #1f2123;
$button-semi-dark-color: #474d57;
$button-dark-color: #001934;
$button-dark-color-hover: #00244b;
$button-light-color: #00b3c5;
$main-background-color: #000e1d;

$font-stack-section-title: 'Chakra Petch', sans-serif;

$dark-secondary-color: #324B4F;
$dark-primary-color: #003445;

.resource-contact-section-container {
    width: calc(100vw - 10px);
    background-color: $main-background-color;
    border-radius: 96px 96px 0 0;
    padding: 60px;

    #contact-us {
        display: flex;
        justify-content: center;
        align-items: center;

        .resource-contact-section {
            height: auto;
            width: 1400px;
            max-width: calc(100vw - 10px); 
            border-radius: 16px;
            margin: 0 auto;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: center;
            background-color: $main-background-color;
        
            .contact-container, .resource-container {
                margin: 30px;
                width: 40%;
                min-height: 850px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding: 40px;
                border-radius: 32px;
                background-color: transparent;
                color: #fff;
                border: 1px solid rgba(255, 255, 255, 0.75);
            
                h1 {
                    font-family: $font-stack-section-title;
                    font-size: 2.5rem;
                    margin-bottom: 2rem;
                    text-align: center;
                }
        
                p {
                    font-size: 20px;
                    text-align: center;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 300;
                    color: $light-text-color;
                }
            }
        }
    }
}



   
   


@media screen and (max-width: 1366px) {
    .resource-contact-section-container {

        #contact-us { 

            .resource-contact-section {

                .contact-container, .resource-container {
                    height: auto;
                    min-height: 900px;
                    width: 40%;
                }
            }
        }
    }
}


@media screen and (max-width: 960px) {
    .resource-contact-section-container {
        width: 100vw;
        border-radius: 32px 32px 0 0;
        padding: 10px;

        #contact-us { 

            .resource-contact-section {

                .contact-container, .resource-container {
                    height: auto;
                    min-height: auto;
                    width: 100%;
                    padding: 30px 15px;
                    margin: 30px 10px;
                }
            }
        }
    }
}