$primary-color: #00b3c5;
$light-text-color:#BEFBFF;
$dark-primary-color: #003445;
$dark-secondary-color: #324B4F;
$main-background-color: #001c25;

@keyframes appear-nav {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.nav-bar {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 1000;
    background-color: $main-background-color;

    .nav-bar--logo-container {
        height: 32px;
        width: auto;
    }

    .nav-bar-container {
        font-size: 0.875rem;
        width: 1400px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-menu-container {
            display: flex;
            align-items: center;

            ul.nav-menu {
                display: flex;
                flex-wrap: wrap;
                list-style: none;

                li.nav-item {
                    display: flex;
                    align-items: center;
                    border-top: 4px solid transparent;
                    height: 80px;
                    margin: auto 10px;
                    padding: 0 10px;
                    
                    .nav-link {
                        font-family: 'Raleway', sans-serif;
                        text-decoration: none;
                        
                        font-weight: 600;
                    }
                }

                li.nav-item:hover {
                    border-top: 4px solid $primary-color;
                    transition: all 0.5s ease;

                    .nav-link {
                        color: $light-text-color;
                        transition: all 0.5s ease;
                    }
                }
            }

        }
    }

    .lang-btn {
        border-top: 4px solid transparent;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 80px;
        width: 120px;
        padding-left: 16px;


        .lang-svg-icon {
            display: flex;
            align-items: center;
            justify-content: space-between;
            fill: rgb(255, 255, 255);

            div {
                margin: 0 12px;
            }

            .rotate-icon {
                transform: rotate(360deg);
                transition: all 0.2s ease-in-out 0s;
            }
        }

        .lang-selector {

            position: absolute;
            top: 80px;
            display: flex;
            flex-direction: column;
            background-color: $dark-secondary-color;
            padding: 15px 15px;
            border-radius: 12px;
            opacity: 1;
            animation: appear-nav 0.2s ease-in;

            button {
                display: flex;
                align-items: center;
                cursor: pointer;
                font-size: 1rem;
                background: none;
                border: none;
                padding: 16px 24px 16px 18px;
                color: #fff;
                border-radius: 12px;
                text-align: left;

                span {
                    color: #9b9b9b;
                    margin: 0 6px;
                }
            }

            button:hover {
                background-color: $dark-primary-color;
                transition: all 0.3s linear;
            }
        }

        .lang-selector ::before{
            background: url(/public/image/svg/nav-triangle.6acc08d5.svg) no-repeat 50%/cover;
            bottom: 100%;
            content: "";
            display: block;
            height: 14px;
            position: absolute;
            right: 30px;
            width: 30px;
        }
    }

    .lang-btn:hover {
        border-top: 4px solid $primary-color;
        transition: all 0.2s linear;
    }

    .lang-btn:hover .rotate-icon {
        transform: rotate(180deg);
        transition: all 0.2s ease-in-out 0s;
    }

    .menu-icon-mobile {
        display: none;
    }

}

@media screen and (max-width: 960px) {

    .nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        height: 80px;
        margin: 0 auto;
        z-index: 1000;
        background-color: $main-background-color;
    
    
        .nav-bar-container {
            font-size: 0.875rem;
            width: 100vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
    
            .nav-menu-container {
                display: flex;
                align-items: center;
    
                ul.nav-menu {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-content: center;
                    flex-wrap: nowrap;
                    width: 100%;
                    height: 100vh;
                    position: absolute;
                    top: 80px;
                    left: -100%;
                    opacity: 1;
                    transition: all 0.5s ease;
    
                    li.nav-item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-top: none;
                        min-height: 80px;
                        height: auto;
                        width: 100%;
                        margin: 0 auto;
                        padding: 0;
                        
                        .nav-link {
                            font-family: 'Raleway', sans-serif;
                            text-decoration: none;
                            font-size: 1.125rem;
                            font-weight: 500;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
    
                    li.nav-item:hover {
                        border-top: none;
                        background: $dark-primary-color;
                        transition: all 0.2s linear;
                    }
                }

                ul.nav-menu.active {
                    background: $main-background-color;
                    left: 0;
                    opacity: 1;
                    transition: all 0.5s ease;
                    z-index: 1;
                }
    
            }
        }
    
        .lang-btn {
            width: auto;
            padding-left: 0px;
            margin-right: 10px;
            border: none;

            .rotate-icon {
                display: none;
                visibility: hidden;
            }
    
            .lang-selector {
    
                position: absolute;
                top: 80px;
                display: flex;
                flex-direction: column;
                background-color: $dark-secondary-color;
                padding: 15px 15px;
                border-radius: 12px;
                opacity: 1;
                animation: appear-nav 0.2s ease-in;
    
                button {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    font-size: 1rem;
                    background: none;
                    border: none;
                    padding: 16px 24px 16px 18px;
                    color: #fff;
                    border-radius: 12px;
                    text-align: left;
    
                    span {
                        color: #9b9b9b;
                        margin: 0 6px;
                    }
                }
    
                button:hover {
                    background-color: $dark-primary-color;
                    transition: all 0.3s linear;
                }
            }
    
            .lang-selector ::before{
                background: url(/public/image/svg/nav-triangle.6acc08d5.svg) no-repeat 50%/cover;
                bottom: 100%;
                content: "";
                display: block;
                height: 14px;
                position: absolute;
                right: 30px;
                width: 30px;
            }
        }
    
        .lang-btn:hover {
            border-top: none;
            transition: none;
        }
    
        .menu-icon-mobile {
            display: block;
            height: 28px;
            width: 28px;
            cursor: pointer;
        }

        .lang-btn-mobile-menu-btn {
            display: flex;
            align-items: center;
        }

    }


}