$primary-color: #00b3c5;
$light-text-color:#BEFBFF;
$dark-text-color: #1f2123;
$button-semi-dark-color: #474d57;
$button-dark-color: #001934;
$button-dark-color-hover: #00244b;
$button-light-color: #00b3c5;
$main-background-color: #000e1d;

$font-stack-section-title: 'Chakra Petch', sans-serif;


@keyframes appear-nav {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.nav-bar {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    height: auto;
    z-index: 1000;
    background-color: transparent;
    max-width: 100%;


    .nav-bar--logo-container {
        max-height: 30px;
        width: auto;
    }

    .nav-bar-container {
        
        width: 1400px;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;

        .nav-menu-container {
            background-color: #fff;
            border-radius: 100px;
            display: flex;
            align-items: center;
            padding: 8px 30px;
            margin: 0 auto;
            position: fixed;
            top: calc(2.5vh + 30px);
            left: 50%;
            transform: translate(-50%, 0),  ;
            filter: drop-shadow(0 0 0.35rem rgba(0, 0, 0, 0.15));
            transition: top 0.5s ease, opacity 0.5s ease, transform 0.5s ease;

            ul.nav-menu {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                list-style: none;

                li.nav-item {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    margin: 0;
                    padding: 0 20px;
                    
                    .nav-link {
                        font-family: $font-stack-section-title;
                        color: $dark-text-color;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 1.125rem;
                       
                    }
                }

                li.nav-item:hover {
                    background-color: #FABC3C;
                    border-radius: 12px;
                    padding: 0px 40px;
                    transition: padding 0.75s ease;

                    .nav-link {
                        font-weight: 700;
                    }
                }

                li.nav-item:not( :hover ) {
                    padding: 0 20px;
                    transition: padding 0.75s ease;
                }


            }

        }
    }

    .lang-btn-mobile-menu-btn {

        .menu-icon-mobile {
            display: none;
        }

        .lang-btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            width: 90px;

            .lang-svg-icon {
                display: flex;
                align-items: center;
                justify-content: space-between;
                fill: rgb(255, 255, 255);
    
                div {
                    margin: 0 12px;
                }
    
                .rotate-icon {
                    transform: rotate(360deg);
                    transition: all 0.2s ease-in-out;
                }
            }

            .lang-selector {

                position: absolute;
                top: 75px;
                right: 0px;
                display: flex;
                flex-direction: column;
                background-color: $button-dark-color;
                padding: 15px 15px;
                border-radius: 12px;
                opacity: 1;
                animation: appear-nav 0.2s ease-in;
    
                button {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    font-size: 1rem;
                    background: none;
                    border: none;
                    padding: 16px 24px 16px 18px;
                    color: #fff;
                    border-radius: 12px;
                    text-align: left;
                    width: 165px;
    
                    span {
                        color: #9b9b9b;
                        margin: 0 6px;
                        font-weight: 500;
                    }
                }
    
                button:hover {
                    background-color: $button-dark-color-hover;
                    color: #fff;
    
                    span {
                        margin: 0 6px;
                    }
                }
            }

            .lang-selector ::before{
                background: url(/public/image/svg/nav-triangle.6acc08d5.svg) no-repeat 50%/cover;
                bottom: 100%;
                content: "";
                display: block;
                height: 14px;
                position: absolute;
                right: 30px;
                width: 30px;
            }
        
        }

        .lang-btn:hover .rotate-icon {
            transform: rotate(180deg);
            transition: all 0.2s ease-in-out 0s;
        }

    }

}

@media screen and (max-width: 1536px) {

  
}

@media screen and (max-width: 960px) {
    .nav-bar {
        padding: 0 10px;
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
        height: auto;
        z-index: 1000;
        background-color: transparent;
        max-width: 100%;
        width: 100%;
    
    
        .nav-bar--logo-container {
            z-index: 999;
            max-height: 25px;
            width: auto;

            img {
                max-height: 25px;
            }
        }
    
        .nav-bar-container {
            
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
    
            .nav-menu-container {
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: visible;
                background-color: transparent;
                border-radius: 0;
                padding: 0;
                margin: 0;
                position: relative;
                top: 0;
                left: 0;
                transform: none;
                filter: none;
                transition: none;
    
                ul.nav-menu {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-content: center;
                    flex-wrap: nowrap;
                    width: 100vw;
                    height: 100vh;
                    position: fixed;
                    top: -100vh;
                    left: 0px;
                    opacity: 0;
                    transition: all 0.5s ease;
                    padding: 120px 30px;
                    z-index: 2;

                    li.nav-item {
                        display: none;
                        align-items: center;
                        height: 50px;
                        margin: 0;
                        padding: 0 20px;
                        
                        .nav-link {
                            font-family: $font-stack-section-title;
                            color: $dark-text-color;
                            text-decoration: none;
                            font-weight: 500;
                            font-size: 1.125rem;
                           
                        }
                    }
    
                    li.nav-item:hover {
                        display: none;
                        background-color: #FABC3C;
                        border-radius: 12px;
                        padding: 0px 40px;
                        transition: padding 0.75s ease;
    
                        .nav-link {
                            font-weight: 700;
                        }
                    }
    
                    li.nav-item:not( :hover ) {
                        display: none;
                        padding: 0 20px;
                        transition: padding 0.75s ease;
                    }
                }

                ul.nav-menu.active {
                    background-color: $main-background-color;
                    display: flex;
                    visibility: visible;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    list-style: none;
                    width: 100vw;
                    height: 100vh;
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    opacity: 1;
                    transition: all 0.5s ease;
                    z-index: 2;
    
                    li.nav-item {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        margin: 12px;
                        padding: 0 20px;
                        
                        .nav-link {
                            width: 100%;
                            color: #fff;
                            font-weight: 400;
                            font-size: 1.375rem;
                        }
                    }

                    li.nav-item:hover {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        margin: 12px;
                        padding: 0 20px;
                        background-color: #FABC3C;
                        
                        .nav-link {
                            width: 100%;
                            color: $dark-text-color;
                            font-weight: 400;
                            font-size: 1.375rem;
                           
                    }

                }

                }
    
            }
        }
    
        .lang-btn-mobile-menu-btn {
            width: auto;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
    
            .menu-icon-mobile {
                display: block;
                height: 28px;
                z-index: 999;
            }
    
            .lang-btn {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 80px;
                width: 80px;
                z-index: 1;
    
                .lang-svg-icon {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    fill: rgb(255, 255, 255);
        
                    div {
                        margin: 0 10px;
                    }
        
                    .rotate-icon {
                        transform: none;
                        transition: none;
                        display: none;
                    }
                }
    
                .lang-selector {
    
                    position: absolute;
                    top: 75px;
                    right: 0px;
                    display: flex;
                    flex-direction: column;
                    background-color: $button-dark-color;
                    padding: 15px 15px;
                    border-radius: 12px;
                    opacity: 1;
                    animation: appear-nav 0.2s ease-in;
        
                    button {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        font-size: 1rem;
                        background: none;
                        border: none;
                        padding: 16px 24px 16px 18px;
                        color: #fff;
                        border-radius: 12px;
                        text-align: left;
                        width: 165px;
        
                        span {
                            color: #9b9b9b;
                            margin: 0 6px;
                            font-weight: 500;
                        }
                    }
        
                    button:hover {
                        background-color: $button-dark-color-hover;
                        color: #fff;
        
                        span {
                            margin: 0 6px;
                        }
                    }
                }
    
                .lang-selector ::before{
                    background: url(/public/image/svg/nav-triangle.6acc08d5.svg) no-repeat 50%/cover;
                    bottom: 100%;
                    content: "";
                    display: block;
                    height: 14px;
                    position: absolute;
                    right: 30px;
                    width: 30px;
                }
            
            }
    
            .lang-btn:hover .rotate-icon {
                transform: rotate(180deg);
                transition: all 0.2s ease-in-out 0s;
            }
    
        }

    }
    
}
 
