$primary-color: #00b3c5;
$light-text-color:#BEFBFF;
$dark-primary-color: #003445;
$dark-secondary-color: #324B4F;
$main-background-color: #001c25;

.about-us-section {
    height: 600px;
    width: 1200px;
    display: flex;
    padding: 30px 60px;
    flex-direction: column;
    background-color: transparent;
    border-radius: 16px;
    margin: 140px auto 0 auto;
    align-items: center;
    justify-content: center;

    .about-us-content {
        display: grid;
        grid-template: 500px / auto 460px;
        gap: 40px;

        .about-us-main {


            h1.section-title {
                margin-bottom: 10px;
                text-align: left;
                font-weight: 600;
                font-size: 3.5rem;
                color: $light-text-color;
            }

            p {
                font-size: 18px;
            }

            .brand-previous-logo {
                display: flex;
                justify-content: center;
                margin: 30px 0;

                figure {
                    margin: 0px 30px;
                }
            }
        }
    }
}

