$primary-color: #00b3c5;
$light-text-color:#BEFBFF;
$dark-primary-color: #003445;
$dark-secondary-color: #324B4F;
$main-background-color: #001c25;

.about-us-section {
    height: 600px;
    width: 1200px;
    display: flex;
    padding: 30px 60px;
    flex-direction: column;
    background-color: $dark-primary-color;
    border-radius: 16px;
    margin-top: 140px;
    align-items: center;
    justify-content: center;
    
    h1.section-title {
        margin: 0 0 10px 0;
        text-align: left;
        font-weight: 600;
        font-size: 2.5rem;
    }

    .about-us-content {
        display: grid;
        grid-template: 500px / auto 500px;
        grid-template-areas: "";
        gap: 40px;
    }

}

