$primary-color: #00b3c5;
$light-text-color:#BEFBFF;
$dark-primary-color: #003445;
$dark-secondary-color: #324B4F;
$main-background-color: #001c25;

.section-container {
    width: 100%;

    .contact-us-section {
        min-width: 500px;

        .submit-btn, .back-btn {
            box-shadow: none;
            border: 0;
            background-color: $main-background-color;
            border-radius: 12px;
            font-size: 1rem;
            font-weight: 300;
            color: $light-text-color;
            font-family: sans-serif;
        }

        .submit-btn:hover, .back-btn:hover {
            background: $primary-color;
            transition: all 0.2s linear;
        }
    }

}

@media screen and (max-width: 960px) {
    .section-container {
        width: 100%;

        .contact-us-section {
            min-width: 350px;
        }
    }
    
}