$primary-color: #00b3c5;
$light-text-color:#BEFBFF;
$dark-text-color: #1f2123;
$button-semi-dark-color: #474d57;
$button-dark-color: #001934;
$button-dark-color-hover: #00244b;
$button-light-color: #00b3c5;
$main-background-color: #000e1d;

$font-stack-section-title: 'Chakra Petch', sans-serif;

$dark-secondary-color: #324B4F;
$dark-primary-color: #003445;

.contact-us-section-container {
    width: 100%;

    .contact-us-section {
        min-width: 300px;

        .submit-btn, .back-btn {
            box-shadow: none;
            border: 0;
            background-color: $button-semi-dark-color;
            border-radius: 12px;
            color: #fff;
            font-family: 'Chakra Petch', sans-serif;
            font-size: 1rem;
            font-weight: 300;
        }

        .submit-btn:hover, .back-btn:hover {
            background: #0077B5;
        }
    }

}

@media screen and (max-width: 960px) {
    .contact-us-section-container {
        width: 100%;

        .contact-us-section {
            min-width: 350px;
        }
    }
    
}