@use './components/navbar/NavBar';
@use './components/hero/HeroSection';
@use './components/service/Services';
@use './components/about-us/AboutUs';
@use './components/about-us/verticalSlide/VerticalSlide';
@use './components/about-us/cardSlide/CardSlide';
@use './components/project/Projects';

* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0;
}

div {
    display: block;
}

html {
    font-size: 16px;
} 

body {
    color: #fff;
    background-color: #001c25;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    height: 100%;
    margin: 0;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a:visited {
    color:#fff;
    text-decoration: none;
}
