@use './components/navbar/NavBar';
@use './components/hero/HeroSection';
@use './components/service/Services';
@use './components/about-us/AboutUs';
@use './components/about-us/verticalSlide/VerticalSlide';
@use './components/about-us/cardSlide/CardSlide';
@use './components/project/Projects';
@use './components/footer/Footer';
@use './components/customer/OurCustomer';

* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0;
    line-height: 1.625;
}

div {
    display: block;
}

html {
    font-size: 16px;
} 

body {
    color: #fff;
    background-color: #001c25;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    height: 100%;
    margin: 100px auto 0 auto;
    width: 1400px;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #fff;
}

a:visited {
    color:#fff;
    text-decoration: none;
}

.reveal {
    position: relative;
    transform: translateX(200px);
    opacity: 0;
    transition: transform 1.25s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

@media screen and (max-width: 960px) {
    
    body {
        color: #fff;
        background-color: #001c25;
        font-family: 'Quicksand', sans-serif;
        line-height: 1.5;
        font-weight: 400;
        height: 100%;
        margin: 100px auto 0 auto;
        width: 100vw;
        text-rendering: optimizeLegibility;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        .section-container {
            overflow-x: hidden;
        }
    }
    
}