@use './components/navbar/NavBar';

* {
    box-sizing: border-box;
}

div {
    display: block;
}

html {
    font-size: 16px;
} 

body {
    color: #fff;
    background-color: #003445;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    height: 100%;
    margin: 0;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a:visited {
    color:#fff;
    text-decoration: none;
}
